.Card {    
    border-radius: 10px;    
    overflow: hidden;
    border: solid;    
    margin: 10px;
    font-family: "Montserrat";
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 700px;        
}

.Cards {
    justify-content: center;
}

.Titulo {
    padding: 5px 0px;
    justify-content: center;
    display: flex;
}

.Conteudo {
    background-color: white;
    flex-grow: 1;    
    color: black;
    padding: 30px;
}